*{
    margin: 0;
    padding: 0;
}

html{
    height:  100%;
    -webkit-overflow-scrolling:touch;
}

body{
    text-align: center;
    background-color:#ffffff;
    font-family:Helvetica, Avenir , "Open Sans" , "游ゴシック","Helvetica Neue" , Arial , Verdana , Roboto  , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    margin: 0;
    width:100vw;
    height: 100%;
}

/*ヘッダーのスタイル*/
/* 一旦消去中　*/


#header{

    height: 0%;

    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 7%;
    min-height: 40px;
    top:0;
    left: 0;
    }

.drawer-menu li{
    margin-top: 30px;
    margin-bottom: 30px;
}

.drawer-navbar{
    display: block;
    margin: 0 auto;
    background-color: RGBA(0,0,0,0);
}

.drawer-hamburger{
    opacity: 1;
    width: 32px;
    height: 32px;
    padding: 0px 0rem 0px;
}

.drawer--left .drawer-hamburger{
    left: 10px;
}

.drawer--left.drawer-open .drawer-navbar .drawer-hamburger{
    left: 10px;
}

.drawer-hamburger-icon:before{
    height: 3px;
    background-color: #232323;
}

.drawer-hamburger-icon{
    height: 3px;
    background-color: #232323;
}

.drawer-hamburger-icon:after{
    height: 3px;
    background-color: #232323;
}

.drawer--left .drawer-nav{
    left: -61.8%;
}

.drawer-nav{
    width:61.8%;
}

.header_content{
    width: 133px;
    text-align: center;
}

.header a{
    margin: 0 auto;
    text-decoration: none;
    font-size: 20px;
    color: #5C6A70;
}


/* ファストビューのスタイル */

#firstview{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#firstview-title{
    position: relative;
    display: flex;
    align-items: center;
    width: 61.8%;
    height:100vh;
    color: #232323;
}

#title_button{
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 50%;
    min-width: 422px;
    max-width: 467px;
    height:400px;

}

#firstview h1{
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 200;
    letter-spacing:6px;
}

.h1-eng{
    float: left;
    text-align: left;
    width: 100%;
    margin-bottom: 120px;
    font-weight: 300;
    font-size: 15px;
    letter-spacing:3px;
}


.link_button{
    position: relative;
    margin-top: 30px;
    width: 200px;
    height: 200px;
}


#firstview_content{
    display:block;
    width:38.2%;
    height: 100vh;
    background-color: #AFE689;
}


/* 自己紹介のスタイル */

#about{
    position: relative;
    background:#f5ea57;
    width: 100%;
    height: 100vh;
    min-height: 750px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

#left_content{
    position: relative;
    width: 61.8%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
}

#left_content h1{
    font-size: 24px;
    font-weight: 200;
    text-align: left;
    margin-right: 90%;
    margin-bottom: 20px;
}

#life{
    width: 75%;
    margin: 30px auto;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
}

.history{
    width: 600px;
    display: flex;
    flex-wrap: nowrap;
    align-items:baseline;
    justify-content: flex-start;
}

.history span{
    display: block;
    margin: 8px;
    margin-right: 30px;
    margin-left:0;
}

#introduction{
    width: 75%;
    margin: 30px auto;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
}

#introduction p{
    width: 100%;
    max-width: 650px;
}

#hobby{
    width: 75%;
    min-width: 480px;
    margin: 30px auto;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
}

.interest{
    text-align: center;
    font-size:15px;
    margin: 8px;
    margin-right: 10px;
}


#right_content{
    position: relative;
    width: 38.2%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#right_content h1{
    margin-left: 35%;
    margin-right: 35%;
    font-size: 24px;
    margin-top: 30px;
    font-weight: 200;
}

#portrait{
    margin-left: 35%;
    margin-right: 35%;
    width: 180px;
    height: 180px;
    margin:10px auto;
    border: solid 8px;
    border-color: #ffffff;
}

#name_and_contact{
    margin-left: 35%;
    margin-right: 35%;
    width: 140px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
}

#name_and_contact h1{
    margin: 0 auto;
    width: 140px;
    font-size: 24px;
    font-weight: 100;
}

#name_and_contact span{
    margin: 0 auto;
    width: 140px;
    font-size: 18px;
    font-weight: 200;
}

#name_and_contact img{
    width:25px;
    height: 25px;
    margin:10px;
}

#skill_icons{
    margin: 0 auto;
    width: 75%;
    max-width: 390px;
    min-width: 350px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.skill{
    font-size: 12px;
    margin: 10px;
}


/* 作品紹介のスタイル */

#works{
    background-color: darksalmon;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

#works_button{
    width: 61.8%;
    height: 100%;
    background-color: RGBA(255,255,255,0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


#genre_link{
    width:750px;
    height: 475px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.genre{
    width: 200px;
    height: 200px;

}
.genre img{
    width: 200px;
    height: 200px;
    opacity: 1;
}

#detail_view{
    width: 38.2%;
    height: 100%;
}

.back_button{
    float: left;
    position: fixed;
    margin-top: 8vh;
    margin-left: 8vh;
    width: 40px;
    height: 40px;
    background-color: black;
}

.modal_container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.modal_container .main{
    margin: 0 auto;
    margin-top: 15vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal_container h1{
    width: 100%;
    text-align: left;
}

.infomation{
    width: 320px;
    text-align: left;
}

.infomation dl{
    width: 300px;
    padding: 15px;
    background-color: coral;
}

.infomation dt{
    font-size: 15px;
    font-weight: 100;
}

.infomation dd{
    -webkit-margin-start:0px;
    margin: 2px 0 10px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.infomation .skill{
    font-size:12px;
    margin-right: 30px;
    text-align: center;
}

.article{
    width: calc(100% - 350px);
    padding-top: 15px;
    text-align: left;
}

.article img{
    width: 100%;
}

.article p{
    width: 100%;
    margin: 10px 0 10px;
}

#footer{
    width:100%;
    height: 40px;
    padding-top: 20px;
    float:left;
    text-align: right;
    background-color: #f5ea57;
    font-size: 12px;
    font-weight: 600;
    color: #5C6A70;
    display: block;
}

#footer p{
    margin-right: 1em;
}

.back_button{
    float: left;
    top: 10vh;
    left: 10vw;
    width: 40px;
    height: 40px;
    background-color: black;
}



@media screen and (max-width:700px){


    #wrapper{
        top:7%;
        width: 100vw;
        height: 93%;
        overflow-x: hidden;
    }

    #firstview{
        height: 100%;
    }

    .firstview-title{
        position: relative;
        width: 290px;
        height: 270px;
        text-align: left;
        margin-top: -3%;
        margin: 0 auto;
        z-index: 50;
    }

    #firstview-togediv{
        width: 100vw;
    }


    #firstview h1{
        font-size: 25px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing:1px;
    }

    .h1-sub{
        font-weight: 600;
        font-size: 15px;
        letter-spacing:1px;
        line-height: 25px;
        padding-left: 1px;
        float: left;
        clear: left;
    }

    .h1-date{
        font-weight: 800;
        font-size: 13px;
        letter-spacing:1px;
        float: left;
        clear: left;
        margin-top: 8px;
        margin-left: 2px;
    }

    .h1-eng{
        font-weight: 700;
        font-size: 11px;
        letter-spacing:1px;
        float: left;
        clear: left;
        margin-left: 2px;
        margin-top: 5px;
    }

    #greeting{
        min-height: 600px;
    }

    #greeting-message h1{
        font-size: 15px;
        letter-spacing: 1px;
        margin: 30px;
        font-weight: 600;
        margin-top: 100px;
    }

    #greeting-message{
        font-size: 12px;
        margin: 17.5%;
        min-width: 80vw;
        width: 65vw;
        margin-top: 5%;
        margin-bottom: 5%;
        line-height: 25px;
    }

    #greeting-message p{
        line-height: 26px;
    }

    #snsIcons{
        width: 50vw;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-around;

    }

    #snsIcons img{
        width:13vw;
        margin:10px;
    }

    #concept{
        min-height: 600px;
    }


    #concept h1{
        font-size: 20px;
        color: #5C6A70;
        margin-top: 10px;
    }

    #concept-title-hr{
        width: 130px;
        margin: 0 auto;
        border-width: 1px 0 0 0;
        margin-bottom: 0px;
    }

    #concept-center{
        float: left;
        width: 100%;
        min-height: 365px;
        height:  60vh;
        display: flex;
        align-items: center;
    }
    .concept-concept{
        margin: 0 auto;
        padding: 0;
        width: auto;
        max-width: 80vw;
        text-align: left;
        border-left: 0;
        display: block;
    }

    .concept-concept hr{
        display: block;
        width: 250px;
        margin-top: -15px;
    }

    .concept-piece{
        font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 70px;
        letter-spacing:5px;
    }

    .concept-piece-ja{
        font-size: 20px;
        font-weight: 600;
        line-height: 55px;
        letter-spacing:5px;
    }

    .concept-concept p{
        font-weight:100;
        font-size: 12px;
        margin-top: 30px;
        line-height: 20px;
        letter-spacing:2px;
    }


    #footer p{
        font-size: 8pt;
        text-align: center;
        width:300px;
        height: auto;
        margin: auto;
    }

}

body{
    overflow-x: hidden;
}
